<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ client }} | {{ name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="nofollow" />
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" type="application/font-woff2" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2">
</head>
<body>

  <div class="container">

    <header class="page-header fixed-header">
      <div class="container">
        <nav class="page-nav">
          <ul class="inline-list">
            <li>
              <a class="button nav-link picture" href="#thumbnails">Thumbnails</a>
            </li>
            <li>
              <a class="button nav-link" href="#attribution">License</a>
            </li>
            <li>
              <a class="button download" href="{{ path }}/{{ download }}">Download (zip)</a>
            </li>
          </ul
        </nav>
      </div>
    </header>


    <h1>{{ client }} | {{ name }}</h1>

    <a name="thumbnails"></a>
    <hr>


    <h2>Thumbnails</h2>
    <ul class="image-list project-thumbnails">
    // TODO: Add some kind of gallery if javascript is enabled
    {{ path }}
    {{#each files }}
      <li><img src="{{ ../projectPath }}/{{ this }}" alt="{{ this }}"></li>
    {{/each}}
    </ul>

    <p class="text-center copyright-container">
      &copy; {{ date.year }} - {{ author.name }}
    </p>

    <a name="attribution"></a>
    <hr>

    {{#if license.byas }}
      {{> _byas }}
    {{/if}}


  </div>
  <?php console(); ?>
</body>
</html>
