  <header class="sticky-header">
    {{ labels.hello }} {{ user.fname }} |
    <a href="{{url /logout }}">{{ labels.logout }}</a> |
    <a href="{{url /admin/settings }}">{{ labels.settings }}</a>
  </header>
