<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{code}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="nofollow" />
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="{{ resources }}httpcode.css">
  <link rel="stylesheet" type="application/font-woff2" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2">
</head>
<body>

  <div class="container">

    <h1>{{ code }}</h1>

    <p>
      Sorry, but the page you requested does not exist.
    </p>

    <p>
      &copy; {{ date.year }} - {{ author.name }}
    </p>

  </div>
</body>
</html>
