<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ client }} | {{ name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="nofollow" />
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="{{ resources }}style.css">
  <link rel="stylesheet" type="application/font-woff2" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2">
</head>
<body>

  <div class="container">

    <h1>{{ client }} | {{ name }}</h1>

    <hr>

    <h2>Downloads</h2>
    <ul class="inline-list">
      {{#each download}}
      <li>
        <a class="button download" href="{{ path }}">{{capitalize name }}</a>
      </li>
      {{/each}}
    </ul>

    <hr>

    <h2>Thumbnails</h2>
    <ul class="grid project-thumbnails">
    <!-- // TODO: Add some kind of gallery if javascript is enabled -->
    {{#each thumbnails }}
      <li data-image="{{ this }}"><img src="{{ this }}" alt="{{ this }}"></li>
    {{/each}}
    </ul>

    <p class="text-center copyright-container">
      &copy; {{ year }} - {{ author.name }} - <img src="https://licensebuttons.net/l/{{ license }}/4.0/80x15.png" alt="">
    </p>


    <hr>

    {{{markdown_partial license }}}

  </div>

</body>
</html>
