<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ client }} | {{ name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="nofollow" />
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="{{ resources }}main.css">
</head>
<body>

  <div class="container">

    <h1>{{ client }} | {{ name }}</h1>

    <hr>

    {{#if download}}
      <h2>Downloads</h2>
      <ul class="inline-list">
        {{#each download}}
        <li>
          <a class="button download" href="{{ path }}">{{capitalize name }} (~{{ size }}Mb)</a>
        </li>
        {{/each}}
      </ul>

      <hr>
    {{/if}}


    {{#if thumbnails }}
      <h2>Thumbnails</h2>
      <ul class="grid project-thumbnails" data-container="photos">
      {{#each thumbnails }}
        <li data-image data-image-{{ this.orientation }}><img src="{{ this.path }}" alt="{{ this.nicename }}"></li>
      {{/each}}
      </ul>
    {{/if}}


    <p class="text-center copyright-container">
      &copy; {{ date.year }} - {{ author.name }} - <img src="https://licensebuttons.net/l/{{ license }}/4.0/80x15.png" alt="">
    </p>

    <hr>

    {{{markdown_partial license }}}

  </div>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="{{ resources }}main.js"></script>
</body>
</html>
