<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">

    {% if page.title %}
        <title>{{ page.title }}</title>

    {% else %}
        <title>{{ app.title }}</title>

    {% endif %}

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ app.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# <link rel="manifest" href="site.webmanifest"> #}
    <link rel="apple-touch-icon" href="icon.png">
        {# Place favicon.ico in the root directory #}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ "css/main.css"|asset }}">

</head>
<body>

    <header class="header">
        <div class="container">

            {% include 'partials/navbar.twig' %}
        </div>
    </header>


    <div class="section content">
    {% block content %}{% endblock %}
    </div>

</body>

{% block scripts %}
    <script src="{{ 'js/jquery.js'|asset }}"></script>
{% endblock %}
</html>
