{% extends 'layout.twig' %}


{% block content %}

<h1 class="h1">New Admin User</h1>

<form class="box" action="{{ routes.register_admin }}" method="post">

    {% for input in inputs %}

        {% if input.type == 'hidden' %}
            <input type="hidden" name="{{ input.name }}" value="{{ input.value }}">
            <span class="help is-danger"></span>

        {% else %}

            <div class="field">
                <label class="label">{{ input.label }} {% if input.required %} <span class="required">*</span>{% endif %}</label>
                <p class="control">

                    {% if   input.type == 'select'
                        or  input.type == 'search'
                        or  input.type == 'url'
                        or  input.type == 'range'
                        or  input.type == 'month'
                        or  input.type == 'week'
                        or  input.type == 'time'
                        or  input.type == 'reset'
                        or  input.type == 'tel' %}

                        {% if input.type == 'select' %}
                            <div class="select">
                            <select name="{{ input.name }}"{% if input.required %} required{% endif %}>
                                <option>Select user type</option>
                                {% for opt in input.opts %}
                                    <option value="{{ opt.id }}">{{ opt.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="help is-danger"></span>

                            </div>
                        {% endif %}

                    {% else %}
                        <input
                            class="input"
                            type="{{ input.type }}"
                            placeholder="{% if input.placeholder %}{{ input.placeholder }}{% else %}{{ input.label }}{% endif %}"
                            name="{{ input.name }}"
                            {% if input.required %}required{% endif %}
                            {% if input.value %}value="{{ input.value }}"{% endif %}
                        >
                        <span class="help is-danger"></span>


                    {% endif %}
                </p>
            </div>
        {% endif %}
    {% endfor %}


    <div class="field is-grouped">
        <p class="control">
            <button class="button is-primary" type="submit">Register Admin</button>
        </p>
    </div>

</form>
{% endblock %}



{% block scripts %}
{{ parent() }}
{# <script src="{{ 'js/garlic.js'|asset }}"></script> #}
<script>
    (function($) {
        var $form = $('form');

        $form.on('submit', function(e) {
            e.preventDefault();

            $inputs = $form.find('input, select');

            var formData = {};

            $inputs.each(function(index, input) {

                let $self = $(input);

                formData[$self.attr('name')] = $self.val();
            });


            $.post(
                $form.attr('action')
            ,   formData
            ,   function(data, res) {
                    console.log('res', data);

                    // reset error fields
                    $form.find('input').removeClass('is-danger');
                    $('.help').text('');

                    if (data.redirect) {
                        window.location = data.redirect;
                        console.log('redirecting to', data.redirect);

                    } else {
                        Object.keys(data).forEach(function(field, index) {
                            console.log(field);
                            $('[name="' + field + '"]')
                                .addClass('is-danger')
                                .next()
                                .text(data[field])
                                ;
                        });
                    }
                }
            );

        });

    })(jQuery);
</script>
{% endblock %}
